<body>

  <section id="details-container">
    <section class="container p1 my-5 pt-5">
      <div class="row mt-5">

        <div class="col-lg-5 col-md-12"><!--left side -->
          <img alt=""
               class="img-fluid width-100"
               src="{{productModel.image}}"/>
        </div>
        <div class="col-lg-6 col-md-12"><!--right side -->
          <div class="line"></div>
          <h2>{{productModel.productName}}</h2>
          <h1>{{productModel.productPrice | currency}}</h1>

          <button  class="Add to Cart"
                   (click)="addToCart()"
                   id="cart">
            Add to Cart
          </button>
          </div>

          <h3>Product Details</h3>
          <caption>{{productModel.productDescription}}</caption>
        </div>

    </section>
    <button id="back" onclick="history.back()">Go Back</button>
  </section>
</body>




