<body>

  <section class="container p1 my-5 pt-5">
    <div class="row mt-5">
      <div class="col-lg-5 col-md-12 col-12"><!--left side -->
        <img class="img-fluid width-100"
             src= "{{productModel.image}}"
             alt="">
      </div>
      <div class="col-lg-6 col-md-12 col-12"><!--right side -->
        <h4>{{productModel.productName}}</h4>
        <h3>{{productModel.productPrice}}</h3>
        <input  type="number" value="1">
        <button id="cart" class="Add to Cart">Add to Cart</button>
        <h6>Product Details</h6>
        <caption>{{productModel.productDescription}}</caption>
      </div>
    </div>
  </section>

</body>

<!-- <div class="detail-section"> -->
<!--   <div class="container-fluid"> -->

<!--     <img src="{{productModel.image}}" class="detail-img"> -->

<!--     <h3>{{productModel.productName}}</h3> -->
<!--     <div class="price">{{productModel.productPrice | currency:'USD' }}</div> -->
<!-- &lt;!&ndash;     <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to cart</button> &ndash;&gt; -->
<!--     <button id="cart" class="Add to Cart">Add to Cart</button> -->
<!--     <hr> -->
<!--     <h4>Description</h4> -->
<!--     <p>{{productModel.productDescription}}</p> -->

<!--     <a routerLink="/products" class="mt-5">Back to Product List</a> -->
<!--   </div> -->
<!-- </div> -->

<!-- <body> -->

<!--     <section routerLink="" class="container p1 my-5 pt-5"> -->
<!--       <div class="row mt-5"> -->
<!--         <div class="col-lg-5 col-md-12 col-12">&lt;!&ndash;left side &ndash;&gt; -->
<!--           <a routerLink="getProduct/1"></a> -->
<!--           <img class="img-fluid width-100" -->
<!--             src="https://res.cloudinary.com/jrdnlx/image/upload/v1661534543/products/desktop_aw_aurora_r10_mlk_mod_hero_wh_mryetv.png" -->
<!--             alt=""> -->
<!--         </div> -->
<!--         <div class="col-lg-6 col-md-12 col-12">&lt;!&ndash;right side &ndash;&gt; -->
<!--           <h4>Alienware Aurora Desktop</h4> -->
<!--           <h3>$1,599.00</h3> -->
<!--           <input  type="number" value="1"> -->
<!--           <button id="cart" class="Add to Cart">Add to Cart</button> -->
<!--           <h6>Product Details</h6> -->
<!--           <caption>This is a desktop.</caption> -->
<!--         </div> -->
<!--       </div> -->
<!--     </section> -->

<!-- </body> -->



