<div>
    <h1 class="text-center">Ecommerce</h1>

    <div>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="getallproducts" class="nav-link">Products List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="addproduct" class="nav-link">Add Product</a>
                </li>

            </div>
        </nav>
        <div class="container mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

