<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="section-title text-center pb-40">
      <div class="line m-auto"></div>
      <h2 class="title">
        SHOPPING CART </h2>
    </div>
  </div>
</div>

<section id="cart" class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="card rounded-3 mb-4">
          <div *ngFor="let item of items" >
            <div class="card-body p-4">

              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{item.image}}"
                    class="img-fluid rounded-3" alt="img">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">
                    <a routerLink="/products/{{item.productId}}">
                      {{item.productName}}
                    </a></p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <!--                   <button class="btn btn-link px-2" -->
                  <!--                           onclick="this.parentNode.querySelector('input[type=number]').stepDown()"> -->
                  <!--                     <i class="fas fa-minus"></i> -->
                  <!--                   </button> -->
                  <button class="btn btn-link px-2"
                          (click)="decQTY(localCart)">
                    <i class="fas fa-minus"></i>
                  </button>

                  <input id="form1" min="1" name="quantity" type="number" value="1"
                         class="form-control form-control-sm" />
                  <button class="btn btn-link px-2"
                          (click)="incrementQuantity(item)">
                    <i class="fas fa-plus"></i>
                  </button>
                  <!--                   <button class="btn btn-link px-2" -->
                  <!--                           onclick="this.parentNode.querySelector('input[type=number]').stepUp()"> -->
                  <!--                     <i class="fas fa-plus"></i> -->
                  <!--                   </button> -->

                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h2 class="mb-0">${{item.productPrice}}</h2>
                  <div class="total">{{ totalPrice | currency: 'USD' }}
                    <span>{{ totalQuantity }}</span>
                    <span>{{item.quantity}}</span>
                  </div>
                </div>

                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <!--                   <a (click)="removeFromDatabase(product)" class="text-danger"> -->
                  <!--                     <i class="fas fa-trash fa-lg"></i></a> -->
                </div>
                <!--                 <div class="col-md-1 col-lg-1 col-xl-1 text-end"> -->
                <!--                   <a (click)="removeFromDatabase(product)" class="text-danger"> -->
                <!--                     <i class="fas fa-trash fa-lg"></i></a> -->
                <!--                 </div> -->
              </div>
            </div>
          </div>

          <app-stripe-payment></app-stripe-payment>

          <!-- <div class="row align-items start">
            <div id="col">
              <app-address-add
                (click)="toggleNewAddress = !toggleNewAddress"
              ></app-address-add>
            </div>
          </div>

        <div class="check-btn">
          <div class="check">
            <a type="button" (click)="checkout()" class="main-btn">
              Checkout</a>
          </div>
        </div> -->

        </div>
      </div>
    </div>
  </div>
</section>
