<head></head>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.productName }}</span>
  <span>{{ item.productPrice | currency }}</span>
</div>
<div class = "row align-items start">
  <div id = "col">
    <app-address-list (onAddNewAddress)="toggleNewAddress = ! toggleNewAddress"></app-address-list>
  </div>
</div>
<!-- <button -->
<!--           class="w-20 btn btn-primary btn-lg" -->
<!--           type="submit" -->
<!--           (click)="checkout()" -->
<!--         > -->
<!--           Checkout -->
<!--         </button> -->
<a type="submit" (click)="checkout()" class="main-btn">Checkout</a>
