<!-- <div *ngIf="Admin"> -->
<div class="container flex">
  <br />
  <div class="col-md-5 col-lg-5">
    <h4 class="mb-3">{{ update ? "Update Product" : "Add Product" }}</h4>
    <form class="needs-validation" onsubmit>
      <div class="row g-3">
        <div class="col-12"></div>

        <div class="col-12">
          <label class="form-label" for="productName">Product Name</label>
          <input
            [(ngModel)]="newProduct.productName"
            class="form-control"
            id="productName"
            name="productName"
            required
            type="text"
          />
        </div>

        <div class="col-12">
          <label class="form-label" for="productDescription">Description</label>
          <input
            [(ngModel)]="newProduct.productDescription"
            class="form-control"
            id="productDescription"
            name="productDescription"
            required
            type="text"
          />
        </div>

        <div class="col-6">
          <label class="form-label" for="productPrice">Price </label>
          <input
            [(ngModel)]="newProduct.productPrice"
            class="form-control"
            id="productPrice"
            min="1>"
            name="productPrice"
            required
            type="number"
          />
        </div>

        <div class="col-6">
          <label class="form-label" for="quantityOnHand">Quantity</label>
          <input
            [(ngModel)]="newProduct.quantityOnHand"
            class="form-control"
            id="quantityOnHand"
            min="1"
            name="quantityOnHand"
            required
            type="number"
          />
        </div>

        <div class="col-12">
          <label class="form-label" for="image">Image URL</label>
          <input
            [(ngModel)]="newProduct.image"
            class="form-control"
            id="image"
            name="image"
            required
            type="text"
          />
        </div>

        <div class="col-12">
          <label class="form-label" for="categoryName">Category Name</label>
          <input
            [(ngModel)]="newProduct.categoryName"
            class="form-control"
            id="categoryName"
            name="categoryName"
            required
            type="text"
          />
        </div>
      </div>

      <hr class="my-4" />
      <button
        (click)="saveProduct()"
        class="{{
          update
            ? 'w-100 btn btn-success btn-lg'
            : 'w-100 btn btn-primary btn-lg'
        }}"
        routerLink="/getAllProducts"
        type="submit"
      >
        {{ update ? "Update Product" : "Add Product" }}
      </button>
      <button
        (click)="myfunc()"
        class="w-100 btn btn-success btn-lg"
        type="submit">
        View Products List
      </button>
    </form>
  </div>
</div>
<!-- </div> -->
