body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
  overflow-x: hidden;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a, button, input, textarea {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a, a:focus, input:focus, textarea:focus, button:focus,
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, a:hover {
  text-decoration: none;
}

i, span, a {
  display: inline-block;
}

canvas, iframe, img, svg {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /*color: #6A6972;*/
  margin: 0;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background: -webkit-gradient(linear, left top, right top, from(#33c8c1), color-stop(50%, #119bd2), to(#33c8c1));
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background-size: 200%;
}

.main-btn:hover {
  color: #fff;
  background-position: right center;
}

/*@media (max-width: 767px) {*/
/*  .container {*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*  }*/
/*}*/

/*===== All Section Title Style =====*/
.section-title .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe8464), to(#fe6e9a));
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 150px;
  height: 5px;
  margin-bottom: 10px !important;
}

.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #361CC1;
  text-transform: uppercase;
}

/*@media (max-width: 767px) {*/
/*  .section-title .sub-title {*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

.section-title .title {
  font-size: 32px;
  padding-top: 10px;
}

/*@media only screen and (min-width: 992px) and (max-width: 1199px) {*/
/*  .section-title .title {*/
/*    font-size: 30px;*/
/*  }*/
/*}*/

/*@media (max-width: 767px) {*/
/*  .section-title .title {*/
/*    font-size: 24px;*/
/*  }*/
/*}*/

.section-title .title span {
  font-weight: 400;
  display: contents;
}

/*===== HEADER HERO =====*/
#banner .p-5 .text-align-left {
  padding: 10% !important;
}

#banner .p-5 .text-align-left h1, span {
  font-size: 40px !important;
  padding-bottom: 10px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
}

#banner .p-5 .text-align-left h6 {
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #2E2E2E;
}

#banner .img-fluid {
  padding-left: 10%;
}

#banner div.row.p-5 {
  align-items: end !important;
}

.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;
}

#particles-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-hero-content {
  padding-top: 180px;
}

/*@media (max-width: 767px) {*/
/*  .header-hero-content {*/
/*    padding-top: 130px;*/
/*  }*/
/*}*/

.header-hero-content .header-sub-title {
  font-size: 38px;
  font-weight: 300;
  color: #fff;
}

.header-hero-content .header-title {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}

/*@media only screen and (min-width: 576px) and (max-width: 767px) {*/
/*  .header-hero-content .header-title {*/
/*    font-size: 30px;*/
/*  }*/
/*}*/

.header-hero-content .text {
  color: #fff;
  margin-top: 30px;
}

.header-hero-content .main-btn {
  margin-top: 40px;
}

.header-hero-image {
  padding-top: 45px;
}

.header-hero-image img {
  max-width: 650px;
}

/*===========================
  SERVICES css
===========================*/

#features {
  margin-left: 5%;
  margin-right: 5%;
}

#feature-content {
  margin-left: 50px;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  width: 15%;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 2px 3px 4px lightgray;
  position: relative;
  justify-content: center;
  text-underline: none;
}

#feature-content:hover {
  box-shadow: 1px 2px 3px 4px lightblue;
}

.single-services {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 30px 0 rgba(167, 167, 167, 0.16);
  box-shadow: 0 5px 30px 0 rgba(167, 167, 167, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 20px 10px;
  border: 2px solid transparent;
  border-radius: 8px;
}

/*@media (max-width: 767px) {*/
/*  .single-services {*/
/*    padding: 10px 10px 20px;*/
/*  }*/
/*}*/

.single-services .services-icon {
  display: inline-block;
  position: relative;
}

.single-services .services-icon img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.single-services .services-icon .shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#features img {
  height: 80%;
  width: auto;
}

.single-services .services-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 34px;
  color: #fff;
}

.single-services .services-content .services-title a {
  font-size: 26px;
  font-weight: 700;
  color: #2E2E2E;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/*@media only screen and (min-width: 992px) and (max-width: 1199px) {*/
/*  .single-services .services-content .services-title a {*/
/*    font-size: 24px;*/
/*  }*/
/*}*/

/*@media (max-width: 767px) {*/
/*  .single-services .services-content .services-title a {*/
/*    font-size: 20px;*/
/*  }*/
/*}*/

.single-services .services-content .services-title a:hover {
  color: #361CC1;
}

.single-services .services-content .text {
  margin-top: 20px;
}

/*@media (max-width: 767px) {*/
/*  .single-services .services-content .text {*/
/*    margin-top: 15px;*/
/*  }*/
/*}*/

.single-services .services-content .more {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #fe7a7b;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-services .services-content .more i {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}

.single-services .services-content .more:hover {
  letter-spacing: 2px;
}

.single-services:hover .services-icon .shape {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

/*===========================
	ABOUT css
===========================*/
.about-area {
  position: relative;
  z-index: 5;
}

.about-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  z-index: -1;
}

.about-shape-1 img {
  width: 100%;
}

#about-container {
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#about img {
  width: 60%;
  max-width: 460px;
  height: auto;
}

#about .row {
  margin-top: 100px;
}

h2.title {
  justify-content: center !important;
}

/*@media (max-width: 767px) {*/
/*  .about-shape-1 {*/
/*    display: none;*/
/*  }*/
/*}*/

.about-content {
  max-width: 480px;
  margin-left: 100px;
}

.about-content .text {
  margin-top: 15px;
}

.about-content .main-btn {
  background: -webkit-gradient(linear, left top, right top, from(#fe8464), color-stop(50%, #fe6e9a), to(#fe8464));
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  margin-top: 40px;
}

.about-content .main-btn:hover {
  background-position: right center;
}

/*===========================
	FOOTER  css
===========================*/

#resources {
  margin-left: 50px;
}

#footer .mt-50 {
  justify-content: left !important;
}

.footer-area {
  background-position: top center;
  position: relative;
  z-index: 5;
}

.footer-area::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(src/assets/images/footer/footer-bg.svg);
  background-position: top center;
  z-index: -1;
  background-size: cover;
}

/*@media only screen and (min-width: 1921px) {*/
/*  .footer-area::before {*/
/*    height: 1120px;*/
/*  }*/
/*}*/

#particles-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-widget {
  padding-top: 50px;
}

.footer-about .text {
  color: #fff;
  line-height: 30px;
  margin-top: 30px;
}

.footer-title .title {
  font-size: 24px;
  font-weight: 700;
  /*color: #fff;*/
  color: #2E2E2E;
}

.link-wrapper {
  padding: 0 35px;
}

/*@media only screen and (min-width: 992px) and (max-width: 1199px) {*/
/*  .link-wrapper {*/
/*    padding: 0 15px;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {*/
/*  .link-wrapper {*/
/*    padding: 0 50px 0 0;*/
/*  }*/
/*}*/

.link-wrapper .link {
  padding-top: 20px;
}

.link-wrapper .link li {
  margin-top: 20px;
}

.link-wrapper .link li a {
  font-size: 16px;
  color: #2E2E2E;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.link-wrapper .link li a:hover {
  color: #eeeeee;
}

.footer-contact .contact, h4.name {
  padding-top: 20px;
  margin-left: 50px;
}

.footer-contact .contact li {
  margin-top: 20px;
  font-size: 16px;
  color: #2E2E2E;
}

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  padding-bottom: 30px;
}

.copyright-content {
  padding-top: 15px;
  text-align: center;
  color: #0a53be;
}

.copyright-content p {
  color: #0a53be;
}

.copyright-content a {
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* ======================
    DEFAULT CSS
========================= */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 20px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  /*padding-top: 40px;*/
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 100px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  /*padding-bottom: 40px;*/
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*:host {*/
/*  font-family: Candara, sans-serif;*/
/*}*/

#banner .img-fluid {
  /*background-color: #333333;*/
  margin-top: 100px;
}

#banner span {
  color: darkslateblue;
  font-weight: bold;

}

/*button {*/
/*  font-size: 0.8rem;*/
/*  !*font-weight: 700;*!*/
/*  border: none;*/
/*  background-color: #333333;*/
/*  !*background-image: linear-gradient(lightskyblue, lightblue);*!*/
/*  color: aliceblue;*/
/*  padding: 13px 30px;*/
/*  cursor: pointer;*/
/*  text-transform: uppercase;*/
/*  box-shadow: 1px 2px 2px 1px lightgray;*/
/*  border-radius: 4px;*/
/*  transition: 0.3s ease-in-out;*/
/*  margin-top: 30px;*/
/*}*/

/*button:hover {*/
/*  transform: translateY(-3px);*/
/*  !*box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);*!*/
/*  box-shadow: 1px 2px 3px 4px lightblue;*/
/*  !*fill: rgb(105, 103, 103);*!*/
/*}*/

/*.col-12 {*/
/*  !*padding: 20px;*!*/
/*  text-align: center;*/
/*  margin-top: 100px!important;*/
/*  margin-right: 30px;*/
/*  width: 15%;*/
/*  min-width: 200px;*/
/*  border: 1px solid lightgray;*/
/*  border-radius: 25px;*/
/*  cursor: pointer;*/
/*  box-shadow: 1px 2px 3px 4px lightgray;*/
/*  position: relative;*/
/*  justify-content: space-evenly;*/
/*}*/

/*.col-12:hover {*/
/*  box-shadow: 1px 2px 3px 4px lightblue;*/
/*}*/

/*.p-5 {*/
/*  padding: 10px!important;*/
/*}*/

/*.mt-3 {*/
/*  margin-top: 10px!important;*/
/*}*/

/*.h5.text-center {*/
/*  padding: 0px!important;*/
/*}*/

/*.div.row {*/
/*  padding: 0!important;*/
/*}*/
/*.col-12 img {*/
/*  !*height: auto;*!*/
/*  width: 100%;*/
/*  horiz-align: center;*/
/*}*/

/*a {*/
/*  color: #333333;*/
/*  text-decoration: none;*/
/*}*/
