h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0;
}

.section-title .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe8464), to(#fe6e9a));
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 150px;
  height: 5px;
  margin-top: 100px !important;
}

h2 {
  margin-top: 20px;
  font-size: 30px !important;
}

h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h6 {
  margin-bottom: 10px;
}

.prod-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: center;
}

.prod-container h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  cursor: pointer;
}

.prod-container h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: #2E2E2E;
}

.prod-container h5 {
  font-size: 18px;
}

.prod-container h6 {
  font-size: 16px;
}

.pro {
  margin-right: 68px;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  width: 15%;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 1px 2px 3px 4px lightgray;
  position: relative;
  justify-content: center;
  text-underline: none;
}

.pro:hover {
  box-shadow: 1px 2px 3px 4px lightblue;
}

.img-container {
  height: 300px;
  justify-content: center;
}

.pro img {
  width: 100%;
  padding: 0;
}

a {
  color: #333333;
  text-decoration: none;
}

.des {
  height: 110px;
}

.des .fa-cart-shopping {
  size: 50px;
}


