<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="section-title text-center pb-40">
      <div class="line m-auto"></div>
      <h2 class="title">
        ALL PRODUCTS </h2>
    </div>
  </div>
</div>

<header>
  <div class="prod-list-container">
    <div class="prod-container">
      <ng-container *ngFor="let products of productModel">
        <div class="pro">
          <div class="img-container">
            <a routerLink="/products/{{products.productId}}">
              <img alt="" src="{{products.image}}">
            </a>
          </div>
          <div class="des">
            <a routerLink="/products/{{products.productId}}">
              <h5>{{products.productName}}</h5>
            </a>

            <h6>${{products.productPrice}}</h6>
          <em (click)="addToCart(products)" class="fas fa-cart-shopping"></em>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
</header>
