<div class="container flex">
    <div class="col-md-5 col-lg-5">
      <h4 class="mb-3">Add Shipping Address</h4>
      <form class="needs-validation" onsubmit>
        <div class="row g-3">
          <div class="col-12"></div>
          <div class="col-12">
            <label for="addressStreet" class="form-label">Street Address (with unit info)</label>
            <input
              type="text"
              class="form-control"
              id="addressStreet"
              required
              [(ngModel)]="newShippingAddress.street"
              name="addressStreet"
            />
          </div>

          <div class="col-12">
            <label for="addressCity" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="addressStreet"
              required
              [(ngModel)]="newShippingAddress.city"
              name="addressCity"
            />
          </div>

          <div class="col-6">
            <label for="addressState" class="form-label">State </label>
            <input
              type="text"
              class="form-control"
              id="addressState"
              required
              [(ngModel)]="newShippingAddress.state"
              name="addressState"
            />
          </div>

          <div class="col-6">
            <label for="addressZip" class="form-label">ZIP</label>
            <input
              type="text"
              class="form-control"
              id="addressZip"
              required
              [(ngModel)]="newShippingAddress.zipcode"
              name="addressZip"
            />
          </div>

          <div class="col-12">
            <label for="addressCountry" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="addressCountry"
              required
              [(ngModel)]="newShippingAddress.country"
              name="addressCountry"
            />
          </div>
          <button
          class="w-100 btn btn-primary btn-lg"
          type="submit"
          (click)="addAddress()"
        >
        Save New Address
        </button>
        </div>
        <hr class="my-4" />
      </form>
      <h4 class="mb-3">Add Billing Address</h4>
      <form class="needs-validation" onsubmit>
        <div class="row g-3">
          <div class="col-12"></div>

          <div class="col-12">
            <label for="addressStreet" class="form-label"
            >Street Address (with unit info)</label
            >
            <input
              type="text"
              class="form-control"
              id="addressStreet"
              required
              [(ngModel)]="newBillingAddress.street"
              name="addressStreet"
            />
          </div>

          <div class="col-12">
            <label for="addressCity" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="addressStreet"
              required
              [(ngModel)]="newBillingAddress.city"
              name="addressCity"
            />
          </div>

          <div class="col-6">
            <label for="addressState" class="form-label">State </label>
            <input
              type="text"
              class="form-control"
              id="addressState"
              required
              [(ngModel)]="newBillingAddress.state"
              name="addressState"
            />
          </div>

          <div class="col-6">
            <label for="addressZip" class="form-label">ZIP</label>
            <input
              type="text"
              class="form-control"
              id="addressZip"
              required
              [(ngModel)]="newBillingAddress.zipcode"
              name="addressZip"
            />
          </div>

          <div class="col-12">
            <label for="addressCountry" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              id="addressCountry"
              required
              [(ngModel)]="newBillingAddress.country"
              name="addressCountry"
            />
          </div>
        </div>
        <hr class="my-4" />

        <button
          class="w-100 btn btn-primary btn-lg"
          type="submit"
          (click)="addAddresses()"
        >
          Add Addresses
        </button>
      </form>
    </div>
</div>
