<!-- <div *ngIf="Admin"> -->
<h3 class="text-center">Products List</h3>

<div class="container">
  <div class="col-12">
    <table class="table table-striped table-bordered table-hover">
      <!-- table header -->
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price($)</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Image</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!-- interpolate-->
        <tr *ngFor="let productModel of productModel">
          <td>{{ productModel.productId }}</td>
          <td>{{ productModel.productName }}</td>
          <td>{{ productModel.productDescription }}</td>
          <td>{{ productModel.productPrice }}</td>
          <td>{{ productModel.quantityOnHand }}</td>
          <td>{{ productModel.categoryName }}</td>
          <td><img alt="image" src="{{ productModel.image }}"/></td>
          <td>
            <div *ngIf="productModel">
              <a href="http://localhost:4200/getAllProducts">
                <button (click)="deleteProductById(productModel)"
                        class="delete"
                        class="btn btn-danger"
                        type="button">
                  Delete
                </button>
              </a>
            </div>
          </td>
          <td>
            <div *ngIf="productModel">
              <a href="http://localhost:4200/getAllProducts">
                <button (click)="save()" class="update" type="button">
                  Update
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- </div> -->
