<div
  class="hpg-product-wrap white dds__d-lg-flex dds__flex-column dds__flex-lg-row dds__align-items-center dds__elevation-2 dds__my-lg-0 dds__my-3 dds__px-lg-0 dds__py-lg-0 dds__container dds__mw-100"
  data-image-intention="left" animation="angle-up" id="product-1" role="navigation"
  aria-label="Desktop Alienware Aurora">

  <div class="dds__col--lg dds__m-0 aspect-product-ratio-box"><a
    href="http://localhost:4200/getallproducts"
    onclick="s_objectID='hp_oneup|product 1|image_cta'">
    <figure>
      <picture>
        <img class="hpg-product-img lazyPicture"
             src="https://i.dell.com/is/image/DellContent/content/dam/documents-and-videos/dv2/csbg/en/product-launch/g-series/g-series-g16-7620-gaming-notebook-sif-adl/site-banners/cs2202g0067-003-606997-gl-cs-co-fy23q1-site-banner-g-series-g16-adl-mod-1023x842-right.png?fmt=png-alpha&amp;wid=1023&amp;hei=842"
             alt="Desktop Alienware Aurora" data-page="converged_product"
             srcset="https://res.cloudinary.com/jrdnlx/image/upload/v1661528723/products/desktop_alienware_aurora_r13_wh_clear_cryo_gallery_1_pjjw8i.jpg">
      </picture>
    </figure>
  </a></div>
  <div
    class="dds__col--lg-5 dds__mt-3 dds__col--lg-5 dds__mt-3 dds__d-flex dds__justify-content-center dds__text-center hp_margin_right hpg-product-oneup">
    <div>
      <div>
        <div class="dds__subtitle-2 dds__text-uppercase dell-black"
             data-testid="product-title">Desktop Alienware Aurora
        </div>
        <h3 class="dds__h3 dds__my-3" data-testid="product-tagline">
        </h3></div>
      <p class="dds__h5 dds__font-weight-normal dds__mb-lg-4"
         data-testid="product-text-block">
      </p>
      <div
        class="hpg-sect-link-wrap dds__body-2 dds__d-flex dds__flex-column dds__flex-md-row dds__justify-content-md-center dds__justify-content-lg-center">
        <!--         <a class="dds__h5 dds__font-weight-normal" -->
        <!--            href="https://www.dell.com/en-us/shop/cty/pdp/spd/g-series-16-7620-laptop" -->
        <!--            onclick="s_objectID='hp_oneup|product 1|cta1'">Shop Now</a> -->
      </div>
    </div>
  </div>
</div>
