<header>
  <div class="container">
    <div class="prod-container">
      <ng-container *ngFor="let products of data">
        <div class="row justify-content-center">
          <div class="col-lg-10">
          </div>
        </div>

        <div class="pro">
          <div class="img-container">
            <a routerLink="/products/{{products.productId}}">
              <img alt="" src="{{products.image}}">
            </a>
          </div>
          <div class="des">
            <a routerLink="/products/{{products.productId}}">
              <h5>{{products.productName}}</h5>
            </a>
            <h6>{{products.productPrice | currency}}</h6>

            <i (click)="addToCart(products)" class="fas fa-cart-shopping"></i>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</header>
